@model initial_d.Models.APIModels.BookingRestVM
@{ 
    var servList = (SelectList)ViewBag.servList;
}

<div id="add-rest-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            @using (Html.BeginForm("AddRest", "Booking", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.restriction_id)

                @Html.HiddenFor(m => m.updated_at)
                @Html.HiddenFor(m => m.created_at)
                @Html.HiddenFor(m => m.deleted)

                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-calendar-times" aria-hidden="true"></i>
                        Agregar Restricción
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    
                    
                    <strong class="text-danger">Advertencia</strong>
                    <p>Se cancelará cualquier hora agendada en el rango indicado.</p>
                    
                    <p>Selecciona el Servicio al cual aplicar la restricción</p>

                    <div class="form-group">
                        @Html.LabelFor(m => m.serv_id);
                        @Html.DropDownListFor(m => m.serv_id, servList, new { @class = "fstdropdown-select" })
                        @Html.ValidationMessageFor(m => m.serv_id)
                    </div>

                    <p>Seleccione el lapsus a restringir</p>

                    <div class="form-group">
                        @Html.LabelFor(m => m.start_date_hour)

                        <div class="input-group date" id="start_date_hour_cont" data-target-input="nearest">
                            @Html.TextBoxFor(m => m.start_date_hour, new { @class = "form-control datetimepicker-input h-100", data_target="#start_date_hour_cont" })
                            <div class="input-group-append" data-target="#start_date_hour_cont" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                        @Html.ValidationMessageFor(m => m.start_date_hour)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.end_date_hour)

                        <div class="input-group date" id="end_date_hour_cont" data-target-input="nearest">
                            @Html.TextBoxFor(m => m.end_date_hour, new { @class = "form-control datetimepicker-input h-100", data_target="#end_date_hour_cont" })
                            <div class="input-group-append" data-target="#end_date_hour_cont" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                        @Html.ValidationMessageFor(m => m.end_date_hour)
                    </div>

                </div>

                <div class="modal-footer">
                    <a role="button" href="#" class="btn btn-sm btn-secondary" data-dismiss="modal">
                        <i class="fa fa-backspace" aria-hidden="true"></i>
                        <span>Volver</span>
                    </a>

                    <button type="submit" class="btn btn-sm btn-green">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Agregar Restricción
                    </button>
                </div>

            }
                
        </div>
    </div>
</div>
