@model initial_d.Models.APIModels.BookingRestVM

              
@using (Html.BeginForm("RescheduleRest", "Booking", FormMethod.Post, new { @id = "reschedule-form" }))
{
    Html.EnableClientValidation(false);

    @Html.HiddenFor(m => m.restriction_id)
    @Html.HiddenFor(m => m.serv_id)

    @Html.HiddenFor(m => m.updated_at)
    @Html.HiddenFor(m => m.created_at)
    @Html.HiddenFor(m => m.deleted)

    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-history" aria-hidden="true"></i>
            Reagendar Restricción
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

            <p>Selecciona el nuevo lapsus para la reserva</p>
        
            <div class="form-group">
                @Html.LabelFor(m => m.start_date_hour, new { @class="font-weight-bold" })
                @Html.TextBox("start_date_hour", Model.end_date_hour?.ToString("o"))
                
                <div class="input-group date" id="reschedule-start_date_hour_cont" data-target-input="nearest">
                    <input type="text"  value="@(Model.start_date_hour?.ToString("o"))" class = "form-control datetimepicker-input h-100" 
                           data-target="#reschedule-start_date_hour_cont" id="reschedule-start_date_hour_view" />
                    <div class="input-group-append" data-target="#reschedule-start_date_hour_cont" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                @Html.ValidationMessageFor(m => m.start_date_hour)
            </div>
                    
            <div class="form-group">
                @Html.LabelFor(m => m.end_date_hour, new { @class="font-weight-bold" })
                @Html.TextBox("end_date_hour", Model.end_date_hour?.ToString("o"))
                
                <div class="input-group date" id="reschedule-end_date_hour_cont" data-target-input="nearest">
                    <input type="text"  value="@(Model.end_date_hour?.ToString("o"))" class = "form-control datetimepicker-input h-100" 
                           data-target="#reschedule-end_date_hour_cont" id="reschedule-end_date_hour_view" />
                    <div class="input-group-append" data-target="#reschedule-end_date_hour_cont" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                @Html.ValidationMessageFor(m => m.end_date_hour)
            </div>

    </div>

    <div class="modal-footer">
        <a role="button" href="#" class="btn btn-sm btn-secondary" data-dismiss="modal">
            <i class="fa fa-backspace" aria-hidden="true"></i>
            <span>Volver</span>
        </a>

        <button type="submit" class="btn btn-sm btn-green">
            <i class="fa fa-history" aria-hidden="true"></i>
            Reagendar
        </button>
    </div>

}


<script>

    WaitForJquery(function () {
    
        let startTime = moment($('#update-rest-modal input[name="start_date_hour"]').val());
        let endTime = moment($('#update-rest-modal input[name="end_date_hour"]').val());

        $('#reschedule-start_date_hour_cont').datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
            date: startTime,
            minDate: moment(),
        });

        $('#reschedule-end_date_hour_cont').datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
            date: endTime,
            minDate: startTime,
        });


    });

</script>