@model initial_d.Models.APIModels.Producto

@{
    ViewBag.Title = "Agregar Producto";

    var prodStatusList = (SelectList)ViewBag.prodStatusList;
    var prodUnitList = (SelectList)ViewBag.ProdUnitList;

    string GoBack_Url = Url.Action("ProdList", "Productos");
}

<div class="header">
    
    <div class="header-title">
        <h2>
            <i class="fa fa-box" aria-hidden="true"></i>
            @ViewBag.Title
        </h2>
    </div>

</div>


@using (Html.BeginForm("AddProd", "Productos"))
{
    @Html.HiddenFor(m => m.product_id);
    @Html.HiddenFor(m => m.created_at);
    @Html.HiddenFor(m => m.updated_at);
    @Html.HiddenFor(m => m.deleted);

    @* FORM CONTAINER *@
    <div class="row justify-content-start mb-4">

        <div class="col-12 col-ms-11 col-md-10 col-lg-10 px-lg-2">
            <div class="c-jumbotron">
                <h3 class="mb-4"> Información General </h3>

                <table class="table table-borderless c-info-table c-table-left c-table-sm-responsive table-th-compact">
                    <!-- NOMBRE -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.name)</th>
                        <td>
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.name)
                        </td>
                    </tr>

                    <!-- PRECIO -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.price)</th>
                        <td>
                            @Html.TextBox("exposedPrice", "", new { @class = "form-control money-editor", data_og_editor="price" })
                            @Html.HiddenFor(m => m.price)
                            @Html.ValidationMessageFor(x => x.price)
                        </td>
                    </tr>

                    <!-- MARCA -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.brand)</th>
                        <td>
                            @Html.TextBoxFor(m => m.brand, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.brand)
                        </td>
                    </tr>

                    <!-- STOCK -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.stock)</th>
                        <td>
                            <div class="row ">
                                @Html.TextBoxFor(m => m.stock, new { @class = "form-control mr-3 no-spinner", @style="min-width: 0px; width: 4.6rem", type="number", min="0" })
                                @Html.DropDownListFor(m => m.unit_id, prodUnitList, new { @class = "custom-select custom-select-sm form-control w-auto",  style="min-width: 0px;" })
                            </div>
                            @Html.ValidationMessageFor(x => x.stock)
                        </td>
                    </tr>

                    <!-- ALERTA DE STOCK -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.stock_alert)</th>
                        <td>
                            <div class="row ">
                                @Html.TextBoxFor(m => m.stock_alert, new { @class = "form-control no-spinner mr-3", @style="min-width: 0px; width: 4.6rem", type="number", min="0" })
                                <label class="unit-name">Litros</label>
                            </div>
                            @Html.ValidationMessageFor(x => x.stock_alert)
                        </td>
                    </tr>

                    <!-- DESCRIPCIÓN -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.product_desc)</th>
                        <td>
                            @Html.TextAreaFor(m => m.product_desc, new { @class = "form-control", rows = 5 })
                            @Html.ValidationMessageFor(x => x.product_desc)
                        </td>
                    </tr>

                    <!-- STATUS -->
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.product_status)</th>
                        <td>
                            <div class="row ">
                                @Html.DropDownListFor(m => m.product_status, prodStatusList, new { @class = "custom-select custom-select-sm form-control w-auto",  style="min-width: 0px;" })
                            </div>
                            @Html.ValidationMessageFor(x => x.product_status)
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    @* ACTION BUTTONS *@
    <div>
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-backspace" aria-hidden="true"></i>
            Cancelar
        </a>
        <button href="#" class="btn btn-sm btn-green mr-3" role="button">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>

}

@section customScripts{
    @Scripts.Render("~/Content/JS/money-editor.js")

    <script>
        $(document).on('change', '#unit_id', function () {
            let val = $('#unit_id option:selected').html();
            $('.unit-name').html(val);
        });
    </script>
}