@model IEnumerable<initial_d.Models.APIModels.Producto>
@using initial_d.Common.FilterBar;

@{
    ViewBag.Title = "Productos Eliminados";

    // Filters
    string brand = ViewBag.brand ?? string.Empty;
    string name = ViewBag.name ?? string.Empty;
    var prodStatusList = (SelectList)ViewBag.prodStatusList;

    string actId = "ACT";

    // Action URL
    string goBackUrl = Url.Action("ProdList", "Productos");
}

<!-- HEADER | ACTION BUTTONS -->
<div class="header ">

    <div class="header-title">
        <h2>
            <i class="fa fa-boxes" aria-hidden="true"></i>
            @ViewBag.Title
        </h2>
    </div>
    
    <!-- BUTTONS -->
    <div class="header-buttons">
        <a href="@goBackUrl" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Productos
        </a>
    </div>
</div>


<!-- BUSCAR -->
@{ 
    var filterTemplate = new FilterBarTemplate()
    {
        formAction = "DeletedProdList",
        formController = "Productos",
        filters = new List<MvcHtmlString>()
        {
            Html.TextBox("name", name, new { @class = "form-control form-control-sm h-100", @placeholder = "Nombre" }),
            Html.TextBox("brand", brand, new { @class = "form-control form-control-sm h-100", @placeholder = "Marca" }),
            Html.DropDownList("statusId", prodStatusList, "Status", new { @class = "custom-select custom-select-sm form-control" }),
        }
    };
}
@Html.Partial("Partial/_FiltersCollapse", filterTemplate)


<!-- DATA TABLE -->
<div class=" d-flex justify-content-center ">
    <table class="table c-info-table c-table-sm-responsive c-table-bordered">

        <thead>
            <tr>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(m => m.name)</th>
                <th>@Html.DisplayNameFor(m => m.brand)</th>
                <th>@Html.DisplayNameFor(m => m.stock)</th>
                <th>@Html.DisplayNameFor(m => m.product_status)</th>
            </tr>
        </thead>

        <tbody>

            @* Print one row by Publication *@
            @foreach (var prod in Model)
            {
                string detailsUrl = Url.Action("ProdDetails", "Productos", new { prodId = prod.product_id });
                bool? isEnabled = prod?.product_status?.Equals(actId);

                <tr class="clickable-row" data-url="@detailsUrl">
                    
                    <!-- ACTION DROPDOWN -->
                    <td data-label="Actions" class="not-clickable">
                        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(prod) { { "context", "list" } } )
                    </td>
                    
                    <!-- NOMBRE -->
                    <td data-label="@Html.DisplayNameFor(m => m.name)">
                        @if (isEnabled != null)
                        {
                            var statClass = isEnabled == true ? "fa-eye color-green" : "fa-eye-slash text-danger";
                            <div class="w-max-content-sm">
                                <i class=" fa mr-1 @statClass" aria-hidden="true"></i>
                                @prod.name
                            </div>
                        }
                    </td>
                    
                    <!-- MARCA -->
                    <td data-label="@Html.DisplayNameFor(m => m.brand)">
                        @prod.brand
                    </td>
                    
                    <!-- STOCK -->
                    <td data-label="@Html.DisplayNameFor(m => m.stock)">
                        @(prod.stock) @(prod.Unit.abbreviation).
                    </td>

                    <!-- STATUS -->
                    <td data-label="@Html.DisplayNameFor(m => m.product_status)">
                        @prod.status_name
                    </td>

                </tr>

            }

        </tbody>

    </table>
</div>


<!-- MODALS -->
@Html.Partial("Partial/_DeleteModalAndScript", new ViewDataDictionary(ViewData) { { "isDeleted", true } })
@Html.Partial("Partial/_ToggleStatusModal")


@section customScripts{
    @Scripts.Render("~/Content/JS/c_table.js")
}