@model initial_d.Models.APIModels.Producto

@{
    ViewBag.Title = $"{Model.name} | Actualizar Datos";

    var prodStatusList = (SelectList)ViewBag.prodStatusLst;
    var ProdUnitList = (SelectList)ViewBag.ProdUnitList;

    string GoBack_Url = Url.Action("ProdDetails", "Productos", new { prodId = Model.product_id });
}

<div class="header">
    
    <div class="header-title">
        <h2>
            <i class="fa fa-edit" aria-hidden="true"></i>
            Actualizar Datos
        </h2>
    </div>

</div>


@using (Html.BeginForm("UpdateProd", "Productos"))
{
    @Html.HiddenFor(m => m.product_id);
    @Html.HiddenFor(m => m.create_at);
    @Html.HiddenFor(m => m.update_at);
    @Html.HiddenFor(m => m.deleted);
    @Html.HiddenFor(m => m.product_status);

    @* FORM CONTAINER *@
    <div class="row justify-content-start mb-4">

        <div class="col-12 col-ms-11 col-md-10 col-lg-10 px-lg-2">
            <div class="c-jumbotron">
                <h3 class="mb-4"> Información General </h3>

                <table class="table table-borderless c-info-table c-table-left c-table-sm-responsive">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.name)</th>
                        <td>
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.brand)</th>
                        <td>
                            @Html.TextBoxFor(m => m.brand, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.brand)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.stock)</th>
                        <td>
                            <div class="row ">
                                @Html.TextBoxFor(m => m.stock, new { @class = "form-control mr-3 ", @style="min-width: 0px; width: 4.6rem" })
                                @Html.DropDownListFor(m => m.unit_id, ProdUnitList, new { @class = "custom-select custom-select-sm form-control w-auto",  style="min-width: 0px;" })
                            </div>
                            @Html.ValidationMessageFor(x => x.stock)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.product_desc)</th>
                        <td>
                            @Html.TextAreaFor(m => m.product_desc, new { @class = "form-control", rows = 5 })
                            @Html.ValidationMessageFor(x => x.product_desc)
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    @* ACTION BUTTONS *@
    <div>
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-backspace" aria-hidden="true"></i>
            Cancelar
        </a>
        <button href="#" class="btn btn-sm btn-green mr-3" role="button">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>

}