@model initial_d.Models.APIModels.Usuario

@{
    ViewBag.Title = "Agregar Usuario";

    string GoBack_Url = Url.Action("UserDetails", "Usuarios", new { userId = Model.appuser_id });
}

<div class="header">

    <div class="title">
        <i class="fa fa-user-edit" aria-hidden="true"></i>
        <h2>Agregar Usuario</h2>
    </div>

    <div class="ml-auto d-flex align-items-center">
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary" role="button">Cancelar</a>
    </div>

</div>

@using (Html.BeginForm("AddUser", "Usuarios"))
{
    @Html.HiddenFor(m => m.appuser_id);

    <div class="row justify-content-around mb-4">
        <div class="col-5 c-jumbotron">
            <h3 class="mb-4"> Información Personal </h3>

            <table class="table table-borderless c-info-table">
                <tr>
                    <td>@Html.DisplayNameFor(m => m.email)</td>
                    <td>
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.email)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.name)</td>
                    <td>
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.name)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.last_names)</td>
                    <td>
                        @Html.TextBoxFor(m => m.last_names, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.last_names)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.adress)</td>
                    <td>
                        @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.adress)
                    </td>

                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.phone)</td>
                    <td>
                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.phone)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.description)</td>
                    <td>
                        @Html.TextBoxFor(m => m.description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.description)
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-5 c-jumbotron">
            <h3 class="mb-4"> Información de Sistema </h3>

            <table class="table table-borderless c-info-table">
                <tr>
                    <td>@Html.DisplayNameFor(m => m.user_type_id)</td>
                    <td>
                        @Html.TextBoxFor(m => m.user_type_id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.user_type_id)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.status_id)</td>
                    <td>
                        @Html.TextBoxFor(m => m.status_id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.status_id)
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div>
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">Cancelar</a>
        <button href="#" class="btn btn-sm btn-success mr-3" role="button">Aceptar</button>
    </div>

}


