@model initial_d.Models.APIModels.Usuario

@{
    ViewBag.Title = "Agregar Usuario";

    string GoBack_Url = Url.Action("UserList", "Usuarios");
}

<div class="header">

    <div class="title">
        <h2>
            <i class="fa fa-user-edit" aria-hidden="true"></i>
            Agregar Usuario
        </h2>
    </div>

</div>


@using (Html.BeginForm("AddUser", "Usuarios"))
{
    @Html.HiddenFor(m => m.appuser_id);

    <div class="row justify-content-around mb-4">
        <div class="col-12 col-ms-11 col-lg-10 col-xl-5 c-jumbotron mb-3 mb-xl-0"">
            <h3 class="mb-4"> Información Personal </h3>

            <table class="table table-borderless c-info-table c-table-left c-table-sm-responsive ">
                <tr>
                    <td>@Html.DisplayNameFor(m => m.name)</td>
                    <td>
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.name)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.last_names)</td>
                    <td>
                        @Html.TextBoxFor(m => m.last_names, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.last_names)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.email)</td>
                    <td>
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.email)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.adress)</td>
                    <td>
                        @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.adress)
                    </td>

                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.phone)</td>
                    <td>
                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.phone)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.birthday)</td>
                    <td>
                        @Html.TextBoxFor(m => m.birthday, new { @class = "form-control datepicker", @Value = string.Empty })
                        @Html.ValidationMessageFor(x => x.birthday)
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-12 col-ms-11 col-lg-10 col-xl-5 c-jumbotron mb-3 mb-xl-0"">
            <h3 class="mb-4"> Información de Sistema </h3>

            <table class="table table-borderless c-info-table c-table-sm-responsive">
                <tr>
                    <td>@Html.DisplayNameFor(m => m.username)</td>
                    <td>
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.username)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.hash)</td>
                    <td>
                        @Html.TextBoxFor(m => m.hash, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.hash)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.user_type_id)</td>
                    <td>
                        @Html.TextBoxFor(m => m.user_type_id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.user_type_id)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.status_id)</td>
                    <td>
                        @Html.TextBoxFor(m => m.status_id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.status_id)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="mail_confirmed_col">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.mail_confirmed, new { @class = "custom-control-input" })
                            @Html.LabelFor(m => m.mail_confirmed, new { @class = "custom-control-label" })
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div>
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">Cancelar</a>
        <button href="#" class="btn btn-sm btn-success mr-3" role="button">Aceptar</button>
    </div>

}


@section customScripts{
    @Html.Partial("Partial/_DatePickerBoilerplate")

    <script>
        // Toggle "Email Confirmed" checkbox when the row is clicked
        $(document).on('click', '#mail_confirmed_col', function () {
            let c = $('#mail_confirmed').prop("checked")
            $('#mail_confirmed').prop("checked", !c);
        });
    </script>
}




