@model IEnumerable<initial_d.Models.APIModels.Usuario>
@{
    ViewBag.Title = "Admin. de Clientes";

    string AddUrl = Url.Action("AddUser", "Usuarios");
}

<div class="header">

    <div class="title">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h2>Administrador de Usuarios</h2>
    </div>

    <div class="ml-auto d-flex align-items-center">
        <a href="@AddUrl" class="btn btn-sm btn-success" role="button">Agregar Usuario</a>
    </div>

</div>

<div>
    <table class="table c-info-table">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">@Html.DisplayNameFor(m => m.username)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.name)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.last_names)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.email)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.user_type_id)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.status_id)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            @* Print one row by User *@
            @foreach (var user in Model)
            {
                string DetailsUrl = Url.Action("UserDetails", "Usuarios", new { userId = user.appuser_id });

                <tr>
                    <td>
                        @Html.DisplayFor(m => user.appuser_id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.username)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.last_names)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.user_type_id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.status_id)
                    </td>
                    <td>
                        <div class="d-flex">
                            <a href="@DetailsUrl" class="btn btn-xsm btn-info mr-2" role="button">
                                <i class="fa fa-bars mr-1" aria-hidden="true"></i>
                                Detalles
                            </a>
                            <a class="btn btn-xsm btn-danger" role="button" data-toggle="modal" data-user-id="@user.appuser_id" href="#delete-modal">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <a href="@Url.Action("UserDetails", "Usuarios", new { userId = "AAA" })" class="btn btn-xsm btn-info mr-2" role="button">
        <i class="fa fa-bars mr-1" aria-hidden="true"></i>
        Detalles
    </a>
</div>

@Html.Partial("Partial/_DeleteModalAndScript")


@section customScripts{


}
