@model initial_d.Models.APIModels.Servicio

@{
    ViewBag.Title = $"{Model.name} | Servicio";

    var serv = Model;
    string servStatus = Model.serv_status;
    bool isDeleted = Model.deleted;

    string goBack_Url = Url.Action(isDeleted ? "DeletedServList" : "ServList", "Servicios");

    // Ids to keep an eye on
    string actId = "ACT";
    string inaId = "INA";
}

<!-- TITULO  |  BUTTONS -->
<div class="header">

    <div class="header-title">
        <h2>
            <i class="fa fa-tools" aria-hidden="true"></i>
            Servicio
        </h2>
    </div>

    <div class="header-buttons">
        <a href="@goBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Volver
        </a>

        <!-- ACTIONS DROPDOWN -->
        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(ViewData) { { "context", "details" } } )
    </div>

</div>


<div class="row justify-content-around">

    <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
        <div class="c-jumbotron"> 
            <h3 class="mb-4"> Información General </h3>

            <table class="table table-borderless c-info-table table-th-compact">
                <!-- NOMBRE -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.name)</th>
                    <td>@serv.name</td>
                </tr>

                <!-- MARCA -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.priceString)</th>
                    <td>@serv.priceString</td>
                </tr>
                
                <!-- STOCK -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.serv_desc)</th>
                    <td>@serv.serv_desc</td>
                </tr>

                <!-- DESCRIPCIÓN -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.timeString)</th>
                    <td>@serv.timeString</td>
                </tr>
                
                <!-- STATUS -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.serv_desc)</th>
                    <td>
                        @if (servStatus.Equals(inaId))
                        {<i class="fa fa-eye-slash mr-1 text-danger" aria-hidden="true"></i>}
                        @if (servStatus.Equals(actId))
                        {<i class="fa fa-eye mr-1 color-green" aria-hidden="true"></i>}
                        @serv.status_name
                    </td>
                </tr>

            </table>

        </div>
    </div>

    <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
        <div class="c-jumbotron">
            <h3 class="@(isDeleted ? "" : "mb-4")"> Información de Sistema </h3>
            
            @* Mensaje de Producto Eliminado *@
            @if (isDeleted)
            {
                <div class="mt-4">
                    <p>
                        <i class="fa fa-trash-alt" aria-hidden="true" style="color:var(--red)"></i>
                        Servicio Eliminado
                    </p>
                </div>
            }

            <table class="table table-borderless c-info-table table-th-compact">
                
                <!-- UPDATED AT -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.updated_at)</th>
                    <td>@Html.DisplayFor(m => m.updated_at)</td>
                </tr>

                <!-- CREATED AT -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.created_at)</th>
                    <td>@Html.DisplayFor(m => m.created_at)</td>
                </tr>

            </table>

        </div>
    </div>

</div>

<!-- MODALS -->
@Html.Partial("Partial/_DeleteModalAndScript", new ViewDataDictionary(ViewData) { { "isDeleted", isDeleted } })
@Html.Partial("Partial/_ToggleStatusModal")