@model initial_d.Models.ForgotPasswordViewModel
@{
    Layout = "";
    ViewBag.Title = "Olvidé mi Contraseña";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Initial-D</title>

    @Styles.Render("~/ContentCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/HeadScrips")
    @Styles.Render("~/Content/CSS/login-view.css")

</head>
<body>

    <div class="main-wrap">
        <div class="login-cont px-3 px-sm-4 px-lg-5 py-4 ">
            <h3 class="mb-3">
                <i class="fa fa-key mr-1"></i>
                Olvidé mi Contraseña
            </h3>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <p>Ingresa tu mail y te enviaremos un mail con las instrucciones para recuperara.</p>
                <div class="d-flex flex-row">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label mr-3 my-auto" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
                </div>

                @Html.ValidationMessageFor(x => x.Email)

                <div class="row mt-3">
                    <button id="login-btn" type="submit" class="btn btn-warning mx-auto">
                        <i class="fa fa-envelope"></i>
                        Enviar
                    </button>
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/MainScripts")
</body>

</html>