@model initial_d.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
    ViewBag.Title = "Olvidé mi Contraseña";

    string LoginUrl = Url.Action("Login", "Account");
}

<div class="login-cont px-3 px-sm-4 px-lg-5 py-4 ">
    <h3 class="mb-3">
        <i class="fa fa-key mr-1"></i>
        Olvidé mi Contraseña
    </h3>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <p>Ingresa tu Email y te enviaremos un correo con las instrucciones para recuperara.</p>
        <div class="d-flex flex-row" @*style="height: 25px !important"*@>
            @Html.LabelFor(m => m.Email, new { @class = "control-label mr-3 my-auto" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @style="height: 30px !important" })
        </div>

        @Html.ValidationMessageFor(x => x.Email)
        
        <div class="d-flex flex-column align-items-center flex-sm-row  mt-3">

            <a id="login-btn" href="@LoginUrl" class="btn btn-secondary mr-sm-auto mb-3 mb-sm-0">
                <i class="fa fa-caret-left"></i>
                Volver
            </a>

            <button id="login-btn" type="submit" class="btn btn-warning ">
                <i class="fa fa-envelope"></i>
                Enviar
            </button>
        </div>
    }
</div>