@model IEnumerable<initial_d.Models.APIModels.PublicacionMec>
@{
    ViewBag.Title = "Publicaciones Eliminadas";

    // Filters
    // TODO Esto depende de que filtros se deciden poner
    string userName = ViewBag.userName ?? string.Empty;
    string statusId = ViewBag.statusId ?? string.Empty;

    // Action URL
    string goBackUrl = Url.Action("PubList", "PublicacionesMec");
    
    string pendingId = "PEN";
    string rejectId = "REJ";
    string actId = "ACT";
    string inactId = "INA";
    string debtId = "DEB";
}

<!-- HEADER | ACTION BUTTONS -->
<div class="header ">

    <div class="header-title">
        <h2>
            <i class="fa fa-trash" aria-hidden="true"></i>
            Publicaciones Eliminadas
        </h2>
    </div>
    
    <!-- BUTTONS -->
    <div class="header-buttons">
        <a href="@goBackUrl" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Publicaciones
        </a>
    </div>

</div>


<!-- DATA TABLE -->
<div class=" d-flex justify-content-center ">
    <table class="table c-info-table c-table-sm-responsive c-table-bordered">

        <thead>
            <tr>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(m => m.appuser_id)</th>
                <th>@Html.DisplayNameFor(m => m.created_at)</th>
                <th>@Html.DisplayNameFor(m => m.comuna)</th>
                <th>@Html.DisplayNameFor(m => m.mobile_number)</th>
                <th class="cell-hidden-xl">@Html.DisplayNameFor(m => m.views)</th>
                <th>Old Status</th>
            </tr>
        </thead>

        <tbody>

            @* Print one row by Publication *@
            @foreach (var pub in Model)
            {
                string detailsUrl = Url.Action("PubDetails", "PublicacionesMec", new { pubId = pub.public_id });

                <tr class="clickable-row" data-url="@detailsUrl">

                    <!-- ACTION DROPDOWN -->
                    <td data-label="Actions" class="not-clickable">
                        
                        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(pub) { { "context", "deleteList" } } )

                    </td>
                    
                    <!-- ID MECANICO -->
                    <td data-label="@Html.DisplayNameFor(m => m.appuser_id)">
                        @Html.DisplayFor(m => pub.appuser_id)
                    </td>
                    
                    <!-- FECHA PULICACIÓN -->
                    <td data-label="@Html.DisplayNameFor(m => m.created_at)">
                        @pub.created_at.ToString("dd/MM/yyyyy")
                    </td>

                    <!-- COMUNA -->
                    <td data-label="@Html.DisplayNameFor(m => m.comuna)">
                        @Html.DisplayFor(m => pub.comuna)
                    </td>

                    <!-- TELEFONO -->
                    <td data-label="@Html.DisplayNameFor(m => m.mobile_number)">
                        @Html.DisplayFor(m => pub.mobile_number)
                    </td>

                    <!-- VISITAS -->
                    <td data-label="@Html.DisplayNameFor(m => m.views)" class="cell-hidden-xl">
                        @Html.DisplayFor(m => pub.views)
                    </td>

                    <!-- STATUS -->
                    <td data-label="@Html.DisplayNameFor(m => m.public_status_id)">
                        @Html.DisplayFor(m => pub.public_status_id)
                    </td>


                </tr>

            }

        </tbody>

    </table>
</div>


@section customScripts{
    <script>
        /** When the user clicks on a cell inside a .clickable-row, it redirect them to the User Details view of that User.
         * Use .not-clickable on a cell to exclude it from the event */
        $(document).on('click', '.clickable-row td:not(.not-clickable)', function () {
            // Get the row
            let row = $(this).closest('.clickable-row');
            // Assemble the URL
            let url = row.data('url');
            // Redirect the window
            window.location = url;
        });
    </script>
}

@Html.Partial("Partial/_DeletePubModal", new ViewDataDictionary(ViewData) { { "isDeleted", true } })