@model IEnumerable<initial_d.Models.APIModels.PublicacionMec>
@using initial_d.Common.FilterBar;

@{
    ViewBag.Title = "Publicaciones Eliminadas";
    
    // Filters
    string comuna = ViewBag.comuna ?? string.Empty;
    string bussName = ViewBag.bussName ?? string.Empty;
    string pubTitle = ViewBag.pubTitle ?? string.Empty;
    var pubStatusList = (SelectList)ViewBag.pubStatusList;

    // Action URL
    string goBackUrl = Url.Action("PubList", "PublicacionesMec");
}

<!-- HEADER | ACTION BUTTONS -->
<div class="header ">

    <div class="header-title">
        <h2>
            <i class="fa fa-trash" aria-hidden="true"></i>
            Publicaciones Eliminadas
        </h2>
    </div>
    
    <!-- BUTTONS -->
    <div class="header-buttons">
        <a href="@goBackUrl" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Publicaciones
        </a>
    </div>

</div>

<!-- BUSCAR -->
@{ 
    var filterTemplate = new FilterBarTemplate()
    {
        formAction = "DeletedPubList",
        formController = "PublicacionesMec",
        filters = new List<MvcHtmlString>()
        {
            Html.TextBox("comuna", comuna, new { @class = "form-control form-control-sm h-100", @placeholder = "Comuna" }),
            Html.TextBox("bussName", bussName, new { @class = "form-control form-control-sm h-100", @placeholder = "Empresa" }),
            Html.DropDownList("statusId", pubStatusList, "Status", new { @class = "custom-select custom-select-sm form-control" }),
        }
    };
}
@Html.Partial("Partial/_FiltersCollapse", filterTemplate)


<!-- DATA TABLE -->
<div class=" d-flex justify-content-center ">
    <table class="table c-info-table c-table-sm-responsive c-table-bordered">
        
        <thead>
            <tr>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(m => m.appuser_id)</th>
                <th>@Html.DisplayNameFor(m => m.bussiness_name)</th>
                <th>@Html.DisplayNameFor(m => m.created_at)</th>
                <th>@Html.DisplayNameFor(m => m.comuna)</th>
                <th>@Html.DisplayNameFor(m => m.mobile_number)</th>
                <th class="cell-hidden-xl">@Html.DisplayNameFor(m => m.views)</th>
                <th>@Html.DisplayNameFor(m => m.public_status_id)</th>
            </tr>
        </thead>

        <tbody>

            @* Print one row by Publication *@
            @foreach (var pub in Model)
            {
                string detailsUrl = Url.Action("PubDetails", "PublicacionesMec", new { pubId = pub.public_id });

                <tr class="clickable-row" data-url="@detailsUrl">
                    
                    <!-- ACTION DROPDOWN -->
                    <td data-label="Actions" class="not-clickable">
                        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(pub) { { "context", "deleteLList" } } )
                    </td>
                    
                    <!-- MECÁNICO -->
                    <td data-label="@Html.DisplayNameFor(m => m.appuser_id)">
                        @pub.mech_name
                    </td>
                    
                    <!-- EMPRESA -->
                    <td data-label="@Html.DisplayNameFor(m => m.bussiness_name)">
                        @pub.bussiness_name
                    </td>
                    
                    <!-- FECHA PULICACIÓN -->
                    <td data-label="@Html.DisplayNameFor(m => m.created_at)">
                        @pub.created_at.ToString("dd/MM/yyyyy")
                    </td>

                    <!-- COMUNA -->
                    <td data-label="@Html.DisplayNameFor(m => m.comuna)">
                        @pub.comuna
                    </td>

                    <!-- TELEFONO -->
                    <td data-label="@Html.DisplayNameFor(m => m.mobile_number)">
                        @pub.mobile_number
                    </td>

                    <!-- VISITAS -->
                    <td data-label="@Html.DisplayNameFor(m => m.views)" class="cell-hidden-xl">
                        @pub.views
                    </td>

                    <!-- STATUS -->
                    <td data-label="@Html.DisplayNameFor(m => m.public_status_id)">
                        @pub.status_name
                    </td>


                </tr>

            }

        </tbody>
    </table>
</div>

@section customScripts{
    @Scripts.Render("~/Content/JS/c_table.js")
}

@Html.Partial("Partial/_DeletePubModal", new ViewDataDictionary(ViewData) { { "isDeleted", true } })