@model initial_d.Models.APIModels.PublicacionMec
@using initial_d.Common.Extensions

@{
    ViewBag.Title = $"{Model.title} | Detalles";

    string goBack_Url = Url.Action("PubList", "PublicacionesMec");

    string pubId = Model.public_id;
    string pubStatus = Model.public_status_id;
    bool isDeleted = Model.deleted;
    bool thereIsLandline = !string.IsNullOrEmpty(Model.landline);
    string mechId = Model.appuser_id;
}


<!-- TITULO  |  BUTTONS -->
<div class="header">

    <div class="header-title">
        <h2>
            <i class="fa fa-newspaper" aria-hidden="true"></i>
            Publicación de Mecánico
        </h2>
    </div>

    <div class="header-buttons">
        <a href="@goBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Volver
        </a>

        <!-- ACTIONS DROPDOWN -->
        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(ViewData) { { "context", "details" } } )
    </div>

</div>

<!-- INFORMACIÓN GENERAL -->
<div class="c-jumbotron row mb-3">
    
    <div class="col-12 col-md-6 pr-md-3">
        <table class="table c-info-table c-data-table-bordered mb-0  table-th-compact">
            <tr>
                <th>@Html.DisplayNameFor(m => m.appuser_id)</th>
                <td>@Html.DisplayFor(m => m.mech_name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.public_status_id)</th>
                <td>@Html.DisplayFor(m => m.status_name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.views)</th>
                <td>@Html.DisplayFor(m => m.views)</td>
            </tr>
            @* Responsive Hell *@
            @* This is dumb, but this is a copy of the second column so it can integrate into this table in responsive *@
            <tr class="d-table-row d-md-none">
                <th>@Html.DisplayNameFor(m => m.created_at)</th>
                <td>@Html.DisplayFor(m => m.created_at)</td>
            </tr>
            <tr class="d-table-row d-md-none">
                <th>@Html.DisplayNameFor(m => m.updated_at)</th>
                <td>@Html.DisplayFor(m => m.updated_at)</td>
            </tr>
            @* PUBLICACIÓN ELIMINADA *@
            @if (isDeleted)
            {
                <tr class="d-table-row d-md-none">
                    <td colspan="2" class="text-center">
                        <i class="fa fa-trash-alt mr-2" aria-hidden="true" style="color:var(--red)"></i>
                        Publicación Eliminada
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div class="col-12 col-md-6 d-none d-md-block"> 
        <table class="table c-info-table c-data-table-bordered mb-0 table-th-compact">
            <tr>
                <th>@Html.DisplayNameFor(m => m.created_at)</th>
                <td>@Model.created_at.ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.updated_at)</th>
                <td>@Model.updated_at.ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
            @* PUBLICACIÓN ELIMINADA *@
            @if (isDeleted)
            {
                <tr>
                    <td colspan="2" class="text-center">
                        <i class="fa fa-trash-alt mr-2" aria-hidden="true" style="color:var(--red)"></i>
                        Publicación Eliminada
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<!-- CONTENIDO DE LA PUBLICACIÓN -->
<div class="c-jumbotron">
    <div class="mb-3">
        <h3 class="font-weight-bold mb-2">@Html.DisplayFor(m => m.title)</h3>
        <h5>@Html.DisplayFor(m => m.bussiness_name)</h5>
    </div>

    <div class="row">

        <div class="col-12 col-lg-7 px-3">
            <h5 class="font-weight-bold mb-2">Descripción</h5>
            
            <table class="table c-info-table c-data-table-bordered mb-3">
                <tr>
                    <td>
                        <div class="text-justify p-1">
                        @Html.DisplayWithBreaksFor(m => m.public_desc)
                        </div>
                    </td>
                </tr>
            </table>

            <h5 class="font-weight-bold mb-2">Servicios</h5>
            
            <table class="table c-info-table c-data-table-bordered mb-3">
                <tr>
                    <td>
                        <div class="text-justify p-1">
                            @Html.DisplayWithBreaksFor(m => m.services)
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-12 col-lg-5 px-3">

            <h5 class="font-weight-bold mb-2">Contacto</h5>
            
            <table class="table c-info-table c-data-table-bordered mb-3 table-th-compact">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.mobile_number)</th>
                    <td>@Model.mobile_number</td>
                </tr>
                @if (thereIsLandline)
                {
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.landline)</th>
                        <td>@Model.landline</td>
                    </tr>
                }
                <tr>
                    <th>@Html.DisplayNameFor(m => m.email)</th>
                    <td>@Model.email</td>
                </tr>
            </table>

            <h5 class="font-weight-bold my-2">Dirección</h5>
            
            <table class="table c-info-table c-data-table-bordered mb-3">
                <tr>
                    <td>@Model.address, @Model.comuna, @Model.region</td>
                </tr>
            </table>

            <h5 class="font-weight-bold my-2">Horario</h5>
            
            <table class="table c-info-table c-data-table-bordered mb-3">
                <tr>
                    <td>@Model.schedule</td>
                </tr>
            </table>
        </div>

    </div>
</div>


@Html.Partial("Partial/_JudgePubModal")
@Html.Partial("Partial/_TogglePubModal")
@Html.Partial("Partial/_DeletePubModal", new ViewDataDictionary(ViewData) { { "isDeleted", isDeleted } })