@model IEnumerable<initial_d.Models.APIModels.PublicacionMec>
@using initial_d.Common.FilterBar;

@{
    ViewBag.Title = "Publicaciones de Mecánicos";

    // Filters
    string comuna = ViewBag.comuna ?? string.Empty;
    string bussName = ViewBag.bussName ?? string.Empty;
    string pubTitle = ViewBag.pubTitle ?? string.Empty;
    var pubStatusList = (SelectList)ViewBag.pubStatusList;
    
    string penId = "PEN"; // Pendiente
    string actId = "ACT"; // Activa / Visible
    string debId = "DEB"; // Debt / Con Deuda
    string inaId = "INA"; // Inactiva / No visible
    string rejId = "REJ"; // Rechazada

    // Action URL
    string delList = Url.Action("DeletedPubList", "PublicacionesMec");
}

<!-- HEADER | ACTION BUTTONS -->
<div class="header ">

    <div class="header-title">
        <h2>
            <i class="fa fa-newspaper" aria-hidden="true"></i>
            Publicaciones de Mecánicos
        </h2>
    </div>
    
    <!-- BUTTONS -->
    <div class="header-buttons">
        <a href="@delList" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Publicaciones Eliminadas
        </a>
    </div>
</div>

<!-- BUSCAR -->
@{ 
    var filterTemplate = new FilterBarTemplate()
    {
        formAction = "PubList",
        formController = "PublicacionesMec",
        filters = new List<MvcHtmlString>()
        {
            Html.TextBox("comuna", comuna, new { @class = "form-control form-control-sm h-100", @placeholder = "Comuna" }),
            Html.TextBox("bussName", bussName, new { @class = "form-control form-control-sm h-100", @placeholder = "Empresa" }),
            Html.DropDownList("statusId", pubStatusList, "Status", new { @class = "custom-select custom-select-sm form-control" }),
        }
    };
}
@Html.Partial("Partial/_FiltersCollapse", filterTemplate)


<!-- DATA TABLE -->
<div class=" d-flex justify-content-center ">
    <table class="table c-info-table c-table-sm-responsive c-table-bordered">

        <thead>
            <tr>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(m => m.public_status_id)</th>
                <th>@Html.DisplayNameFor(m => m.appuser_id)</th>
                <th>@Html.DisplayNameFor(m => m.bussiness_name)</th>
                <th>@Html.DisplayNameFor(m => m.created_at)</th>
                <th>@Html.DisplayNameFor(m => m.comuna)</th>
                <th>@Html.DisplayNameFor(m => m.mobile_number)</th>
                <th class="cell-hidden-xl">@Html.DisplayNameFor(m => m.views)</th>
            </tr>
        </thead>

        <tbody>

            @* Print one row by Publication *@
            @foreach (var pub in Model)
            {
                string detailsUrl = Url.Action("PubDetails", "PublicacionesMec", new { pubId = pub.public_id });
                string status = pub.public_status_id;

                var statClass = "fa-exclamation-triangle color-red";
                var color = "color-red";

                if (status.Equals(actId))       { statClass = "fa-eye"; color = "text-success"; }
                else if (status.Equals(penId))  { statClass = "fa-hourglass-half"; color = "text-warning"; }
                else if (status.Equals(debId))  { statClass = "fa-money-bill"; color = "text-danger"; }
                else if (status.Equals(inaId))  { statClass = "fa-eye-slash"; color = "text-secondary";  }
                else if (status.Equals(rejId))  { statClass = "fa-times"; color = "text-danger";  }


                <tr class="clickable-row" data-url="@detailsUrl">
                    
                    <!-- ACTION DROPDOWN -->
                    <td data-label="Actions" class="not-clickable cell-compact-sm action-dw">
                        @Html.Partial("Partial/_ContextualActionDropdown", new ViewDataDictionary(pub) { { "context", "list" } } )
                    </td>

                    <!-- STATUS -->
                    <td data-label="@Html.DisplayNameFor(m => m.public_status_id)">
                        <div class="w-max-content row ">

                            <i class=" fa  @statClass @color d-flex align-items-center mr-2" aria-hidden="true"></i>
                            @pub.status_name
                        </div>
                    </td>
                    
                    <!-- MECÁNICO -->
                    <td data-label="@Html.DisplayNameFor(m => m.appuser_id)">
                        @pub.mech_name
                    </td>
                    
                    <!-- EMPRESA -->
                    <td data-label="@Html.DisplayNameFor(m => m.bussiness_name)">
                        @pub.bussiness_name
                    </td>
                    
                    <!-- FECHA PULICACIÓN -->
                    <td data-label="@Html.DisplayNameFor(m => m.created_at)">
                        @pub.created_at.ToString("dd/MM/yyyyy")
                    </td>

                    <!-- COMUNA -->
                    <td data-label="@Html.DisplayNameFor(m => m.comuna)">
                        @pub.comuna
                    </td>

                    <!-- TELEFONO -->
                    <td data-label="@Html.DisplayNameFor(m => m.mobile_number)">
                        @pub.mobile_number
                    </td>

                    <!-- VISITAS -->
                    <td data-label="@Html.DisplayNameFor(m => m.views)" class="cell-hidden-xl">
                        @pub.views
                    </td>

                </tr>

            }

        </tbody>

    </table>
</div>

<!-- MODALS -->
@Html.Partial("Partial/_JudgePubModal")
@Html.Partial("Partial/_TogglePubModal")
@Html.Partial("Partial/_DeletePubModal", new ViewDataDictionary(ViewData) { { "isDeleted", false } })


@section customScripts{
    @Scripts.Render("~/Content/JS/c_table.js")
}
