
@{
    ViewBag.Title = "Index";
    Layout = "";

    bool isError = ViewBag.ErrorMessage != null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/ContentCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <style>
        .main-wrap {
            height: 100vh;
            /* d-flex */
            display: -ms-flexbox !important;
            display: flex !important;
            /* justify-content-center */
            -ms-flex-pack: center !important;
            justify-content: center !important;
            /* align-items-center */
            -ms-flex-align: center !important;
            align-items: center !important;
            background: var(--black-1);
        }

        .login-cont {
            max-width: 25rem;
            background: var(--yellow-3);
            padding: 20px 30px;
            margin: 30px;
            border-radius: 10px;
            height: max-content;
        }

        #login-btn{
            width: 8rem;
        }
    </style>


    <div class="main-wrap">


        <div class="login-cont">

            @using (Html.BeginForm("Login", "UserAuth", FormMethod.Post, new { @class = "form" }))
            {

                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                    <h3 class="mb-0 font-weight-bold">Initial-D</h3>
                    <small>Sistema de Administración </small>
                </div>

                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="login-btn" type="submit" class="btn btn-warning">
                        Login
                    </button>
                </div>

            }
        </div>

    </div>

</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/MainScripts")
</html>