@{
    // To keep track of the Sidebar State (open or closed)
    string sdStatus = "closed";
    if (Request.Cookies["sdStatus"] != null)
    {
        sdStatus = Request.Cookies["sdStatus"].Value;
    }

    string ProdUrl = "#";
    string ServUrl = "#";
    string MechUrl = "#";
    string UserUrl = "#";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/ContentCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="@sdStatus">

            <button id="sb-toggle-in-button" type="button" class="btn collapse-side d-none d-md-inline w-100 sidebar-toggle">
                <i class="fas fa-bars"></i>
                <span>Minimizar Barra</span>
            </button>

            <a href="/">
                <div class="sidebar-header">
                    <h3 class="mb-0">Initial-D</h3>
                    <small>Sistema de Administración</small>
                    <strong>ID</strong>
                </div>
            </a>

            <ul class="list-unstyled components">

                <li>
                    <a href="@ProdUrl">
                        <i class="fas fa-boxes"></i>
                        <span>Productos</span>
                    </a>
                </li>
                <li>
                    <a href="@ServUrl">
                        <i class="fas fa-tools"></i>
                        <span>Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="@MechUrl">
                        <i class="fas fa-wrench"></i>
                        <span>Mecánicos</span>
                    </a>
                </li>
                <li>
                    <a href="@UserUrl">
                        <i class="fas fa-user"></i>
                        <span>Usuarios</span>
                    </a>
                </li>

                @* -------- COLLAPSE BUTTON TEST -------- *@
                @*<li>
                    <a id="collapse-test" href="#collapse-test-sub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-bug"></i>
                        <span>Collapse Test</span>
                    </a>
                    <ul class="collapse list-unstyled" id="collapse-test-sub">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>*@
            </ul>

            <ul class="list-unstyled CTAs ">
                <li>
                    <a href="#" class="btn-yellow">CTA Test</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div class="w-100">
            <nav class="navbar navbar-expand-md navbar-light ">
                <div class="container-fluid">

                    <button type="button" class="btn collapse-side d-md-none sidebar-toggle ml-3">
                        <i class="fas fa-bars"></i>
                    </button>

                    <button class="btn btn-dark d-inline-block d-md-none ml-auto mr-3" type="button" data-toggle="collapse"
                            data-target="#internalNavbar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse mr-3 mr-md-0" id="internalNavbar">
                        <ul class="nav navbar-nav">
                            @RenderSection("InternalNavbarOptions", false)
                        </ul>

                        <div class="nav navbar-nav ml-auto mr-3">
                            <a class="btn btn-secondary" href="@Url.Action("Logoff", "UserAuth")">Logoff</a>
                        </div>

                    </div>
                </div>
            </nav>
            <div id="content">

                <div class="px-5">
                    @RenderBody()

                    <hr />
                </div>

                <footer>
                    <p>&copy; @DateTime.Now.Year  -  Initia-D | Sistema de Administración para Jaramillo</p>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/MainScripts")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {

            // Toggle the sidebar state on sidebar-toggle click
            $('.sidebar-toggle').on('click', toggleSidebar);

            // To toggle the state of the sidebar on mouse enter or leave, but it doesn't work well enough on mobile to be acceptable
            //$('#sidebar').on('mouseenter', toggleSidebar);
            //$('#sidebar').on('mouseleave', toggleSidebar);

        });

        // Togle the status of the Sidebar between Open and Closed
        function toggleSidebar() {
            let sd = $('#sidebar');

            if (sd.hasClass('closed')) {
                // whithout this it looks weird
                sd.addClass('pre-open');

                setTimeout(function () {
                    sd.toggleClass('pre-open');
                    sd.toggleClass('closed');
                    updateSdStatus();
                }, 120);

            }
            else {
                sd.toggleClass('closed');
                updateSdStatus();
            }
        }

        /// Update the cookie that store the status of the sidebar
        function updateSdStatus() {
            var status = $('#sidebar').hasClass('closed') ? 'closed' : 'open';
            Cookies.set('sdStatus', status);
        }


    </script>
</body>
</html>
