@using System.Diagnostics;
@{
    // To keep track of the Sidebar State (open or closed)
    string sdStatus = "closed";
    if (Request.Cookies["sdStatus"] != null)
    {
        sdStatus = Request.Cookies["sdStatus"].Value;
    }

    // Current controller in action
    var controller = ViewContext.RouteData.Values["controller"];
    var InternalNavbar = (List<initial_d.Common.NavbarItems>)ViewBag.InternalNavbar;

    // Automatic Alert System
    string error = (string)TempData["ErrorMessage"] ?? "";
    string success = (string)TempData["SuccessMessage"] ?? "";

    // URLs
    string ProdUrl = Url.Action("ProdList", "Productos");
    string ServUrl = Url.Action("ServList", "Servicios");
    string MechUrl = Url.Action("MechList", "Mecanicos");
    string UserUrl = Url.Action("UserList", "Usuarios");

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Initial-D</title>

    @Styles.Render("~/ContentCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/HeadScrips")

</head>

<body>
    <!--! Automatic Alert System -->
    <div id="alerts" class="fixed-top mx-3 mt-3"> </div>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="@sdStatus">

            <button id="sb-toggle-in-button" type="button" class="sidebar-toggle btn btn-yellow d-md-block">
                <i class="fas fa-bars"></i>
                <span>Minimizar Barra</span>
            </button>

            <a href="/">
                <div class="sidebar-header">
                    <h3 class="mb-0">Initial-D</h3>
                    <small>Sistema de Administración</small>
                    <strong>ID</strong>
                </div>
            </a>

            <ul class="list-unstyled components">
                @* Active or deactive the button depending on the controller *@
                <li class="@(controller.Equals("Productos") ? "active" : "")">
                    <a href="@ProdUrl">
                        <i class="fas fa-boxes"></i>
                        <span>Productos</span>
                    </a>
                </li>
                <li class="@(controller.Equals("Servicios") ? "active" : "")">
                    <a href="@ServUrl">
                        <i class="fas fa-tools"></i>
                        <span>Servicios</span>
                    </a>
                </li>
                <li class="@(controller.Equals("Mecanicos") ? "active" : "")">
                    <a href="@MechUrl">
                        <i class="fas fa-wrench"></i>
                        <span>Mecánicos</span>
                    </a>
                </li>
                <li class="@(controller.Equals("Usuarios") ? "active" : "")">
                    <a href="@UserUrl">
                        <i class="fas fa-user"></i>
                        <span>Usuarios</span>
                    </a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="btn-yellow">CTA Test</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div class="w-100">
            <nav class="navbar navbar-expand-md navbar-light ">
                <div class="container-fluid">

                    <button type="button" class="sidebar-toggle btn btn-yellow d-md-none ml-3">
                        <i class="fas fa-bars"></i>
                    </button>

                    <button class="btn btn-dark d-inline-block d-md-none ml-auto mr-3" type="button" data-toggle="collapse"
                            data-target="#internalNavbar"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse " id="internalNavbar">
                        <ul class="nav navbar-nav ml-3 ml-md-0 mt-2 mt-md-0">
                            @Html.Partial("_InternalNavbar", InternalNavbar)
                        </ul>

                        <div class="nav navbar-nav mx-3 ml-md-auto my-2 my-md-0">
                            @Html.Partial("_LoginPartial")
                        </div>

                    </div>
                </div>
            </nav>
            <div id="content" class="d-flex flex-column">

                <div class="px-1 px-md-3 px-xl-5">
                    @RenderBody()
                </div>

                <footer class="mt-auto">
                    <hr />
                    <p>&copy; @DateTime.Now.Year  -  Initia-D | Sistema de Administración para Jaramillo</p>
                </footer>

            </div>
        </div>
    </div>

    <!-- Jquery 3.4.1 -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap 4.4.1 -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Jquery Validation 1.19.1 -->
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Site wide custom Scripts  -->
    @Scripts.Render("~/MainScripts")

    <!-- customScripts  -->
    @RenderSection("customScripts", false)
    <!-- /customScripts  -->

    <script>
        {
            //! Automatic Alert System: Get the error message and show an alert with it
            let err = '@error';
            if (err) ShowAlert(err, 'alert-danger')

            let success = '@success'
            if (success) ShowAlert(success, 'alert-success', 1)
        }
    </script>
</body>

</html>
