@model initial_d.Models.Viewmodels.PoSSaleItem

@{ 
    var isProd = Model.prod != null;
}

<div class="px-0 px-md-3 px-lg-5">
    <table class="table c-info-table c-data-table-bordered mb-3" style="table-layout:fixed; width:100%;" >
        <tr>
            <th>Id</th>
            <td style="overflow-wrap: anywhere;">@Model.id</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>@Model.name</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>@Model.type</td>
        </tr>
        <tr>
            <th>Precio</th>
            <td>@Model.priceString</td>
        </tr>
        @if (isProd)
        {
            <tr>
                <th>Stock</th>
                <td>@Model.prod.stockString</td>
            </tr>
        }
        <tr>
            <th>Descripción</th>
            <td>@Model.desc</td>
        </tr>
    </table>
</div>