@model IEnumerable<initial_d.Models.APIModels.Mecanico>
@{
    ViewBag.Title = "Admin. de Mecánicos";

    // Filters
    // TODO Esto depende de que filtros se deciden poner
    string userName = ViewBag.userName ?? string.Empty;
    string userEmail = ViewBag.userEmail ?? string.Empty;
    // var hasDebt
    // var hasPublicationPending
    var userStatusList = (SelectList)ViewBag.userStatusLst;

    string banId = "BAN";

    // Action URL
    string addUrl = Url.Action("AddMech", "Mecanicos");
    // detailsUrl on Document
}

@Styles.Render("~/Content/CSS/mecanicos-general.css")

<!-- HEADER | ACTION BUTTONS -->
<div class="header ">

    <div class="header-title">
        <h2>
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Administrador de Mecánicos
        </h2>
    </div>

    <div class="header-buttons">
        <a href="@addUrl" class="btn btn-sm btn-green" role="button">
            <i class="fa fa-plus"></i>
            Agregar Mecánico
        </a>
    </div>

</div>


<!-- BUSCAR -->


<!-- DATA TABLE -->
<div class=" d-flex justify-content-center ">
    <table class="table c-info-table c-table-sm-responsive c-table-bordered">

        <thead>
            <tr>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(m => m.username)</th>
                <th class="cell-hidden-lg">@Html.DisplayNameFor(m => m.fullName)</th>
                <th>@Html.DisplayNameFor(m => m.email)</th>
                <th>@Html.DisplayNameFor(m => m.status_id)</th>
                <th>@Html.DisplayNameFor(m => m.hasPendingPublication)</th>
                <th>@Html.DisplayNameFor(m => m.hasDebt)</th>
            </tr>
        </thead>

        <tbody>
            @* Print one row by Mechanic *@
            @foreach (var mech in Model)
            {
                string detailsUrl = Url.Action("MechDetails", "Mecanicos", new { mechId = mech.appuser_id });
                string userStatus = mech.status_id;
                bool? isBanned = userStatus?.Equals(banId);

                <tr class="clickable-row" data-url="@detailsUrl">

                    <!-- ACTION DROPDOWN -->
                    <td data-label="Actions" class="not-clickable">
                        <div class="dropdown">

                            <button class="btn btn-yellow btn-xsm dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog mr-1 " aria-hidden="true"></i>
                                Actions
                            </button>

                            <!-- DROPDOWN -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <div class="d-flex flex-column">
                                    @if (isBanned != null)
                                    {

                                        <a href="@detailsUrl" class="dropdown-item small">
                                            <i class="fa fa-bars mr-1 " aria-hidden="true"></i>
                                            Detalles
                                        </a>

                                        if (isBanned == true)
                                        {
                                            <a class="dropdown-item small"
                                               data-toggle="modal" href="#user-state-modal" data-mech-id="@mech.appuser_id" data-new-state="ACT">
                                                <i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i>
                                                Dar de Alta
                                            </a>
                                        }
                                        else if (isBanned == false)
                                        {
                                            <a class="dropdown-item small"
                                               data-toggle="modal" href="#user-state-modal" data-mech-id="@mech.appuser_id" data-new-state="BAN">
                                                <i class="fa fa-lock mr-1" aria-hidden="true"></i>
                                                Dar de Baja
                                            </a>
                                        }

                                        <a class="dropdown-item small" role="button" data-toggle="modal" data-mech-id="@mech.appuser_id" href="#delete-modal">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Eliminar
                                        </a>
                                    }
                                    else
                                    {
                                        <p class="dropdown-item small">Error al cargar el Usuario</p>
                                    }
                                </div>

                            </div>

                        </div>
                    </td>

                    <!-- USERNAME -->
                    <td data-label="@Html.DisplayNameFor(m => m.username)">
                        @if (isBanned != null)
                        {
                            var statClass = isBanned == true ? "fa-user-lock text-danger" : "fa-user-check color-green";
                            <div class="w-max-content-sm">
                                <i class=" fa mr-1 @statClass" aria-hidden="true"></i>
                                @Html.DisplayFor(m => mech.username)
                            </div>
                        }
                    </td>

                    <!-- NOMBRE -->
                    <td data-label="@Html.DisplayNameFor(m => m.fullName)" class="cell-hidden-lg">
                        @Html.DisplayFor(m => mech.fullName)
                    </td>

                    <!-- EMAIL -->
                    <td data-label="@Html.DisplayNameFor(m => m.email)">
                        @Html.ValueFor(m => mech.email)
                    </td>

                    <!-- STATUS -->
                    <td data-label="@Html.DisplayNameFor(m => m.status_id)">
                        @Html.DisplayFor(m => mech.status_name)
                    </td>

                    <!-- PUBLICACIÓN PENIENTE -->
                    <td data-label="@Html.DisplayNameFor(m => m.hasPendingPublication)">
                        @{
                            var hasPendingPublication = mech.hasPendingPublication;
                            var str = hasPendingPublication ? "Si" : "No";
                            var color = hasPendingPublication ? "bg-green" : "bg-black";
                        }
                        <div class="c-badge ml-auto mx-sm-auto  @color">@str</div>
                    </td>

                    <!-- TIENE DEUDA -->
                    <td data-label="@Html.DisplayNameFor(m => m.hasDebt)">
                        @{
                            var hasDebt = mech.hasDebt;
                            str = hasDebt ? "Si" : "No";
                            color = hasDebt ? "bg-green" : "bg-black";
                        }
                        <div class="c-badge ml-auto mx-sm-auto  @color">@str</div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>


@Html.Partial("Partial/_ToggleUserStatusModal")
@Html.Partial("Partial/_DeleteModalAndScript")


@section customScripts{
    <script>
        /** When the user clicks on a cell inside a .clickable-row, it redirect them to the User Details view of that User.
         * Use .not-clickable on a cell to exclude it from the event */
        $(document).on('click', '.clickable-row td:not(.not-clickable)', function () {
            // Get the row
            let row = $(this).closest('.clickable-row');
            // Assemble the URL
            let url = row.data('url');
            // Redirect the window
            window.location = url;
        });
    </script>
}