@model initial_d.Models.APIModels.Mecanico

@{
    ViewBag.Title = $"{Model.name} | Detalles de Mecánico";

    string update_Url = Url.Action("UpdateMech", "Mecanicos", new { userId = Model.appuser_id });
    string goBack_Url = Url.Action("MechList", "Mecanicos");
    string publications_Url = Url.Action("PubList", "PublicacionesMec");

    string mechId = Model.appuser_id;
    string mechStatus = Model.status_id;

    string banId = "BAN";
    string actId = "ACT";
}

<!-- TITULO  |  BUTTONS -->
<div class="header">

    <div class="header-title">
        <h2>
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Detalles de Mecánico
        </h2>
    </div>

    <div class="header-buttons">
        <a href="@goBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Volver
        </a>
        
        <a href="@publications_Url" class="btn btn-sm btn-blue mr-3" role="button">
            <i class="fa fa-newspaper" aria-hidden="true"></i>
            Ver Publicaciones
        </a>

        <!-- ACTIONS DROPDOWN -->
        <div class="dropdown">

            <button class="btn btn-yellow btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog mr-1 " aria-hidden="true"></i>
                Actions
            </button>
            
            <!-- DROPDOWN -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="d-flex flex-column">

                    <a href="@update_Url" class="dropdown-item small">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                        Actualizar Datos
                    </a>

                    @if (mechStatus.Equals(banId))
                    {
                        <a class="dropdown-item small"
                           data-toggle="modal" href="#user-state-modal" data-mech-id="@mechStatus" data-new-state="ACT">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            Dar de Alta
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item small"
                           data-toggle="modal" href="#user-state-modal" data-mech-id="@mechStatus" data-new-state="BAN">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            Dar de Baja
                        </a>
                    }

                    <a class="dropdown-item small" role="button" data-toggle="modal" data-mech-id="@mechId" href="#delete-modal">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Eliminar
                    </a>

                </div>

            </div>

        </div>
    </div>

</div>


<div class="row justify-content-around">

    <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
        <div class="c-jumbotron">
            <h3 class="mb-4"> Información de Sistema </h3>

            <table class="table table-borderless c-info-table">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.username)</th>
                    <td>@Html.DisplayFor(m => m.username)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.lastlogin)</th>
                    <td>@Html.DisplayFor(m => m.lastlogin)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.user_type_id)</th>
                    <td>@Html.DisplayFor(m => m.user_type_name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.status_id)</th>
                    <td>
                        @if (Model.status_id.Equals(banId))
                        {<i class="fa fa-user-lock mr-1 text-danger" aria-hidden="true"></i>}
                        @if (Model.status_id.Equals(actId))
                        {<i class="fa fa-user-check mr-1 color-green" aria-hidden="true"></i>}
                        @Html.DisplayFor(m => m.status_name)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.mail_confirmed)</th>
                    @{
                        var emailConfirmed = Model.mail_confirmed;
                        var str = emailConfirmed ? "Si" : "No";
                        var color = emailConfirmed ? "bg-green" : "bg-black";
                    }
                    <td>
                        <div class="c-badge @color">@str</div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.updated_at)</th>
                    <td>@Html.DisplayFor(m => m.updated_at)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.created_at)</th>
                    <td>@Html.DisplayFor(m => m.created_at)</td>
                </tr>
                <!-- PUBLICACIÓN PENDIENTE -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.hasPendingPublication)</th>
                    <td>
                        @{
                            var hasPendingPublication = Model.hasPendingPublication;
                            str = hasPendingPublication ? "Si" : "No";
                            color = hasPendingPublication ? "bg-green" : "bg-black";
                        }
                        <div class="c-badge  @color">@str</div>
                    </td>
                </tr>
                <!-- TIENE DEUDA -->
                <tr>
                    <th>@Html.DisplayNameFor(m => m.hasDebt)</th>
                    <td>
                        @{
                            var hasDebt = Model.hasDebt;
                            str = hasDebt ? "Si" : "No";
                            color = hasDebt ? "bg-green" : "bg-black";
                        }
                        <div class="c-badge  @color">@str</div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
        <div class="c-jumbotron">
            <h3 class="mb-4"> Información Personal </h3>

            <table class="table table-borderless c-info-table">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.name)</th>
                    <td>@Html.DisplayFor(m => m.name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.last_names)</th>
                    <td>@Html.DisplayFor(m => m.last_names)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.email)</th>
                    <td>@Html.DisplayFor(m => m.email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.adress)</th>
                    <td>@Html.DisplayFor(m => m.adress)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.phone)</th>
                    <td>@Html.DisplayFor(m => m.phone)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.birthday)</th>
                    <td>@Html.DisplayFor(m => m.birthday)</td>
                </tr>
            </table>

        </div>
    </div>

</div>


@Html.Partial("Partial/_ToggleUserStatusModal")
@Html.Partial("Partial/_DeleteModalAndScript")
