@model initial_d.Models.APIModels.Mecanico

@{
    ViewBag.Title = $"{Model.name} | Actualizar Datos";

    var userTypeList = (SelectList)ViewBag.userTypeLst;
    var userStatusList = (SelectList)ViewBag.userStatusLst;

    string GoBack_Url = Url.Action("MechDetails", "Mecanicos", new { mechId = Model.appuser_id });
}

<div class="header">
    
    <div class="header-title">
        <h2>
            <i class="fa fa-edit" aria-hidden="true"></i>
            Actualizar Datos de Mecánico
        </h2>
    </div>

</div>


@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.appuser_id);
    @Html.HiddenFor(m => m.username);
    @Html.HiddenFor(m => m.updated_at);
    @Html.HiddenFor(m => m.created_at);
    @Html.HiddenFor(m => m.deleted);
    @Html.HiddenFor(m => m.user_type_id);

    @* FORM CONTAINER *@
    <div class="row justify-content-around mb-4">

        <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
            <div class="c-jumbotron">
                <h3 class="mb-4"> Información de Sistema </h3>

                <table class="table table-borderless c-info-table c-table-left c-table-sm-responsive table-th-compact">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.status_id)</th>
                        <td>
                            @Html.DropDownListFor(m => m.status_id, userStatusList, new { @class = "custom-select custom-select-sm form-control" })
                            @Html.ValidationMessageFor(x => x.status_id)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" id="mail_confirmed_col">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.mail_confirmed, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.mail_confirmed, new { @class = "custom-control-label" })
                            </div>
                        </th>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-12 col-ms-11 col-md-10 col-lg-6 px-lg-2">
            <div class="c-jumbotron">
                <h3 class="mb-4"> Información Personal </h3>

                <table class="table table-borderless c-info-table c-table-left c-table-sm-responsive">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.name)</th>
                        <td>
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.name)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.last_names)</th>
                        <td>
                            @Html.TextBoxFor(m => m.last_names, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.last_names)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.rut)</th>
                        <td>
                            @Html.TextBoxFor(m => m.rut, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.rut)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.email)</th>
                        <td>
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.email)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.adress)</th>
                        <td>
                            @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.adress)
                        </td>

                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.phone)</th>
                        <td>
                            @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.phone)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.birthday)</th>
                        <td>
                            @Html.TextBoxFor(m => m.birthday, new { @class = "form-control datepicker-bd", @Value = Model.birthday.ToString("dd/MM/yyyy") })
                            @Html.ValidationMessageFor(x => x.birthday)
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    @* ACTION BUTTONS *@
    <div>
        <a href="@GoBack_Url" class="btn btn-sm btn-secondary mr-3" role="button">
            <i class="fa fa-backspace" aria-hidden="true"></i>
            Cancelar
        </a>
        <button href="#" class="btn btn-sm btn-green mr-3" role="button">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>

}


@section customScripts{
    @Html.Partial("Partial/_DatePickerBoilerplate")

    <script>
        // Toggle "Email Confirmed" checkbox when the row is clicked
        $(document).on('click', '#mail_confirmed_col', function () {
            let c = $('#mail_confirmed').prop("checked")
            $('#mail_confirmed').prop("checked", !c);
        });
        
        $('.datepicker-bd').datepicker({
            startDate: '-110y',
            endDate: '-18y'
        });

        $(function() {
            $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Rut Invalido. Debe tener el formato: 12.123.123-1"
            );

            $('#rut').rules('add', {
                regex: /^\d{1,2}\.\d{3}\.\d{3}-[k|K|\d]{1}$/
            });

        });
    </script>
}
